
@media (max-width: 768px) {
    .About-me .section {
        flex-direction: column;
        text-align: center;
    }

    .About-me .image-left, .About-me .image-right {
        width: 60%;
        margin: 0 auto;
    }

    .About-me .text-left, .About-me .text-right {
        width: 100%;
        margin: 20px auto;
    }

    .project-item {
        height: 400px;
    }

    .project-item img {
        object-fit: contain;
    }

    .project-image:hover {
        transform: none;
        box-shadow: none;
    }

    .projects h2 {
        font-size: 14px;
    }

    .projects p {
        font-size: 0.9rem;
    }

    .projects-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
}

@media (max-width: 768px) {
    .header-bar {
        padding: 10px 20px;
        box-shadow: none;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        max-width: 100%;
    }

    .logo img {
        max-width: 70px;
        max-height: 70px;
    }

    ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    ul li {
        display: block;
        width: 100%;
    }

    ul li a {
        font-size: 16px;
        padding: 12px;
        width: 100%;
        text-align: center;
        background: linear-gradient(120deg, #ffffff, #f1e5d6);
        border-radius: 5px;
    }

    ul li a:hover {
        color: #504b43;
        background: linear-gradient(120deg, #f1e5d6, #c2af96);
        transform: scale(1.05);
    }

    ul li a:active {
        transform: scale(0.95);
    }

    .first-view {
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .language-selector select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
    }
}

@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.open ul {
        display: flex;
    }

    .menu-toggle-button {
        display: block;
    }
}
